<div class="row">
    <div class="small-12 large-12 columns">
        <div class="copyright">
            2016 Rung Reang Silathip Co. All Rights Reserved
            <div class="desc">
                9/76 M.3 T.samed A.muang Chonburi 20000
                <br />Original Angsila’s mortar since 1957
            </div>

        </div>
    </div>
    <div class="small-12 large-12 columns">
        <div class="orderMore-box">
            <div class="wrap-text">

                <div class="desc-text">
                    {{$content.end[$lang]}}
                    <ul>
                      <li><i class="fi fi-telephone"></i>089-938-6866</li>
                      <li><i class="fi fi-mail"></i> <a style="color:white" href="mailto:silathip2013@gmail.com">silathip2013@gmail.com</a></li>
                    </ul>
                    </div>
            </div>



        </div>
    </div>
    <div class="small-12 large-12 columns" >
        <div class="social">
            <span>
                <a href="http://www.facebook.com/r.silathip"><i class="fi-social-facebook"></i></a>
                <!-- <i class="fi-social-pinterest"></i>
                <i class="fi-social-twitter"></i> -->
            </span>

        </div>
    </div>
</div>
