@import '../../_constant.scss';
footer {
    background-color: darken(grey,20);
    font-family: 'Thonburi','Tahoma';
    font-weight: lighter;
    color: darken(white,30);
    border-top: $lightgrey 1px solid;
    padding: 20px;
    text-align: center;
    a {
        color: white;
        &.mail {
            // text-decoration: underline;
        }
        &:hover {
            color: darken(white,20);
        }
    }

    // .copyright::before {
    //     font-size: 18px;
    //     content: '© ';
    // }
    .copyright {

        font-size: 12px;
        .desc {
            font-size: 11px;
        }
    }
    @media screen and (max-width: 1024px) {
        .copyright {
            text-align: center;
            font-size: 11px;
            .desc {
                font-size: 9px;
            }
        }
    }
    .social {
      line-height: 0;
        width: 100%;
        text-align: center;
        font-size: 32px;
    }
    .orderMore-box {
        ul {
            margin:10px 0;
        }
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0px 0;
        .wrap-text {
            display: flex;
            align-content: center;
            justify-content: center;
            flex-direction: row;
            width: 500px;
            .desc-text {
                color: white;
                font-size: 13px;
                ul{
                  padding-top:10px;
                }
                li {
                    list-style: none;
                    font-size: 12px;
                    font-weight: normal;;
                }

            }

        }
    }
    @media screen and (max-width: 1024px) {
        .orderMore-box {
       
          text-align: center;
        }
        .wrap-text{
          text-align: center;
        }
        li{
          text-align: center;
        }
    }
}
