// @import '../../_constant.scss';
.lang-container {
  // position: absolute;
  // left: 10px;
  // top: 10px;
  z-index: 999;
  cursor: pointer;
  display: flex;
  align-items: center;
  @media screen and (max-width: 670px) {
    position: relative;
  }
  .toogle-switch-wrap {
    display: flex;
    padding: 5px 10px;
    border-radius: 2px;
    // background: #ededed;
    font-size: 12px;
    .TH {
      border-radius: 2px 0 0 2px;
    }
    .EN {
      border-radius: 0 2px 2px 0;
    }
    .TH,
    .EN {
      padding: 0 4px;
      background: #d6d7d8;
      box-shadow: inset 0px 0px 1px grey;
      &.active {
        box-shadow: none;
        background: #282c34;
        color: white;
      }
    }
  }
}

.hamburger {
  display: none;
  a {
    color:black;
    font-size:22px;
  }
  @media screen and (max-width: 480px) {
    display: block;
    background:rgba(255, 255, 255, 0.8);
    padding:5px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

header {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 999;
  .menu-wrap {
    background: rgba(255, 255, 255, 0.8);
    transition: 0.22s all;
  }
  &.toogle {
    .menu-wrap {
      background: rgba(255, 255, 255, 0.8);
    }
    // top:-20px;
    @media screen and (max-width:670px) {
      // top:-155px;
    }
    @media screen and (max-width:480px) {
      // top:-115px;

    }
    #header {
      @media screen and (min-width:481px){
        height: 50px;
      }
      .lang-container {
        // top:auto;
        // bottom:10px;
      }
      .logo {
        display: none;
      }
      .wrap {
        .social-wrap {
          display: flex;
        }
      }
    }
  }
  @media screen and (max-width:480px) {
    .menu-wrap {
      opacity: 0;
      pointer-events: none;
      transform: translate(0, -40px);
      transition: .22s linear all;

      &.showMobile {
        opacity: 1;
        pointer-events: all;
        transform: translate(0, 0);
      }
    }
  }
}

#header {
  text-align: center;
  color: $green;
  width: 100%;
  margin: auto;
  max-width: 800px;
  display: flex;
  height: auto;
  flex-direction: row;
  z-index: 99;
  @media screen and (max-width: 480px) {
    height: auto;
    flex-direction: column;
    .lang-container {
      justify-content: center;
      padding-bottom:10px;
    }
    .menu {
      .wrap {
        flex-direction: column;
      }
    }
  }
  .logo {
    padding: 10px;
    color: #333;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    align-items: center;
    font-size: 32px;
    font-weight: lighter;
    font-family: 'thaisans_neuelight', 'THSarabunNew';
    @media screen and (max-width: 690px) {
      font-size: 22px;
      flex: 0 0 80px;
      display: none;
    }
    .title {
      text-align: center;
    }
    .slogan {
      font-size: 14px;
      bottom: 0;
    }
  }
  .menu {
    flex: 1 0 auto;
    display: flex;
    // border-bottom: 1px solid $green;
    justify-content: center;
    align-items: stretch;
    @media screen and (max-width: 480px) {
      flex: 1 0 auto;
    }
    .wrap {
      max-width: 750px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: stretch;
      @media screen and (max-width: 800px) {
        // padding-left: 100px;
      }
      .social-wrap {
        display: flex;
        flex: 0 1 auto;
        display: none;
        transition: 0.22s;
        .social {}
      }
      .item {
        flex: 1 0 auto;
        padding:5px 15px;
      }
      a {
        font-family: 'thaisans_neuelight', 'THSarabunNew';
        color: grey;
        font-weight: lighter;
        text-transform: uppercase;
        font-size: 22px;

        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 480px) {
          font-size: 24px;
        }
        &.social {
          font-size: 22px;
          padding: 20px;
          @media screen and (max-width: 480px) {
            padding: 5px;
            display: none;
            font-size: 14px;
          }
        }
        &:hover,
        &.active {
          // background-color: $lightgrey;
          color: $green;
          text-decoration: none;
        }
      }
    }
  }
}

#header-deprected {
  height: 165px;
  background: none;
  text-align: center;
  color: white;
  position: absolute;
  width: 100%;
  display: flex;
  .logo {
    flex: 1 1 auto;
  }
  .menu {
    flex: 0 0 850px;
    padding: 0 35px;
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    justify-content: space-around;
    align-items: stretch;
    .item {
      color: white;
      display: flex;
      align-items: stretch;
      font-weight: bolder;
      font-size: 24px;
      box-sizing: content-box;
      text-shadow: 0 0 2px grey;
      &:hover,
      &.active {
        color: #c9db22;
        border-bottom: 2px #c9db22 solid;
      }
    }
  }
  z-index: 99;
}

*:focus {
  outline: none;
}