<div ng-init="showMenu = false" class="hamburger" > 
  <span> {{$content.company_title[$lang]}} </span>
  <a ng-click="showMenu = !showMenu"><i class="fi-list"></i></a>  
</div>
<div class="menu-wrap" ng-class="{'showMobile':showMenu}">
<div class="header" id="header" >

  <div class="logo">
    <div class="title">
        {{$content.company_title[$lang]}}
    </div>
    <div class="slogan">
        {{$content.slogan[$lang]}}
    </div>

  </div>
  <div class="menu" >
    <div class="wrap" ng-click="showMenu = !showMenu">
      <a class="item" ui-sref-active="active" ui-sref="home">{{$lang=='th' ? "เกี่ยวกับเรา และ บริการ":"Home & Services"}}</a>
      <a class="item" ui-sref-active="active" ui-sref="products.all">{{$lang=='th' ? 'ผลิตภัณฑ์':'Product gallery'}}</a>
      <!-- <a class="item" ui-sref-active="active" ui-sref="service">{{$lang=="th" ? "ชนิดของงาน":"Services"}}</a> -->
      <a class="item" ui-sref-active="active" ui-sref="contact">{{$lang=="th"? "ติดต่อเรา":"Contact Us"}}</a>
      <div class="social-wrap" >
        <a class="item social" href="http://www.facebook.com/r.silathip"><i class="fi-social-facebook"></i></a>
        <a class="item social" href="#"><i class="fi-social-pinterest"></i></a>
        <a class="item social" href="#"><i class="fi-social-twitter"></i></a>
      </div>
    </div>
  </div>
  <div class="lang-container">
    <div class="toogle-switch-wrap" ng-click="$lang = $lang==('th') ? 'en':'th'">
      <div class="TH" ng-class="{active:$lang == 'th'}">
        TH
      </div>
      <div class="EN" ng-class="{active:$lang == 'en'}">
        EN
      </div>
    </div>
  </div>
</div>
</div>