@import '../_constant.scss';
#aboutus.front {
  .gallery{
    display: flex;
    .item{
      width:33.33333%;
      height:200px;
    }
  }
  overflow: hidden;
  .slick-prev:before,
  .slick-next:before {
    font-size: 40px;
  }
  .slick-prev,
  .slick-next {
    width: auto;
  }
  .slick-prev {
    left: 10px;
  }
  .slick-next {
    right: 10px;
  }
  .big {
    font-size: 34px;
    font-family: "thaisans_neueregular","ThonBuri",serif;
    font-weight: bolder;
  }
  .button {
    background: none;
    border: 4px #35362f solid;
    font-weight: bolder;
    color: #35362f;
    overflow: hidden;
    position: relative;
    span {
      z-index: 1;
      position: relative;
    }
    &:hover {
      color: #e3e3e3;
      &:before {
        transform: translate(0,0);
      }
    }
    &:before {
      // content: "";
      // z-index: 0;
      // transition: 0.2s linear all;
      // transform: translate(-100%,0);
      // position: absolute;
      // background: #35362f;
      // width: 100%;
      // height: 100%;
      // top: 0;
      // left: 0;
    }
  }
  &.container {
    .big-picture {
      width: 100%;
      height: 100vh;
      overflow: hidden;
      background: black;
      position: relative;
      .image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        position: relative;
        opacity: 1.0;
        .textOverImg{

          font-size: 30px;
          color:white;
        }
      }
      .slogan {
        width: 100%;
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
        color: white;
        text-align: center;
        .main-text {
          font-family: "THSarabunNew","ThonBuri",serif;
          font-weight: bolder;
          font-size: 90px;
        }
        .desc-text {
          font-size: 18px;
        }
      }
    }
    .service-wrap{
      margin-bottom:0px;
    }
    .intro {
      display: flex;
      max-width: 1280px;
      margin: auto;
      padding: 100px 15px 20px;
      margin-bottom: 50px;
      // border-bottom: 1px $lightgrey solid;
      @media screen and (max-width:800px) {
        flex-direction: column;
      }
      .right-column {
        display: flex;
        flex-direction: column;
        padding-left: 50px;
        align-items: center;
        @media screen and (max-width:800px) { 
          padding-right:50px;
        }
        .wiseword {
          font-family: 'thaisans_neuelight',serif;
          @media screen and (max-width:800px) {
            padding: 50px 0;
          }
          p {
            font-size: 45px;
            overflow: visible;
            position: relative;
            padding-left: 20px;
            .highlight {
              color: $gold;
              font-weight: bold;
            }
            &:before {

              color: lighten($gold, 10);
              content: "“";
              position: absolute;
              top: -30px;
              left: -30px;
              font-size: 60px;
            }
            &:after {
              color: lighten($gold, 10);
              content: "”";
              position: absolute;
              padding-left: 20px;
              font-size: 60px;
            }
          }
        }
        .mortar-icon {
          display: flex;
          align-items: center;
          height: 150px;
          width: 150px;
          transition: 1.0s;
          opacity: 0;
          &.fade-from-button {
            transform: translate(0,150px);
          }
          &.fade-from-left {
            transform: translate(-100%,0);
          }
          &.fade-from-right {
            transform: translate(100%,0);
          }
          &.animate-in {
            opacity: 1;
            transform: translate(0,0);
          }
        }
        .mortar-icon:hover {

          display: flex;
          align-items: center;
          height: 250px;
          width: 250px;
          transition: 2.0s;
          opacity: 1;

        }
      }
      .timeline-container {
        display: flex;
        flex: 0 0 200px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 50px;

        @media screen and (max-width:800px) {
          flex: 0 0 auto;
        }

        .circle-picture {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          max-width: 100px;
          height: 100px;
          border-radius: 50%;
          margin: 20px 0;
          text-align: center;
          vertical-align: middle;
          i{
            position: absolute;
            right:-30px;
            top:-40px;
            font-size: 50px;
            color : rgba(0, 0, 0, 0.6);

          }

          .year {
            color: black;
            display: block;
            background-color: rgba(255,255,255,0.8);
            width:50%;
            font-size: 15px;
            font-family: 'Cardo','THSarabunNew', serif;
          }
          // overflow: hidden;
        }


      }
      @media screen and (max-width:480px) {
        padding-top: 60px;
        padding-bottom: 60px;
      }
      p {
        max-width: 1200px;
        margin: auto;
        font-weight: lighter;
      }
      .topic {
        font-family: 'pt_sansregular','THSarabunNew', serif;
        color: $gold;
        font-size: 60px;
      }
    }
    .product {
      display: flex;
      flex-wrap: wrap;
      .item{
        width: 10%;
        position: relative;
        @media screen and (max-width:480px) {
            width: 25%;
        }
        .image{
          width:100%;
          .description{
            opacity: 0;
            padding:20px;
            position: absolute;top:0;left:0;
            width: 100%;
            height:100%;
            display: flex;justify-content: center;
            align-items: center;
            color:white;
            transition: 0.22s;
            background: rgba(0,0,0,0.3);
          }
          &:before {
           content: "";
           display: block;
           padding-top: 100%;
         }
        }

      }
    }
    .end {
      max-width: 550px;
      margin: auto;
      text-align: center;
      padding: 20px;
      font-family: 'clear_sansregular','THSarabunNew',serif;
      font-size: 32px;
      color: $textColor;
    }
    .services {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      height: 460px;
      .item {
        width: 100%;
        overflow: hidden;
        position: relative;
      }
    }
    .middle {}
  }



}
.service-column {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  
  flex-direction: row;
  padding:10px;
  @media screen and (max-width: 800px){
    flex-direction: column;
    align-items: center;
  }
  hr{
    margin:5px 0px;
  }
  .circle-picture{
    // display: none;
  }
  .title{
    color:#aaa080;
    font-family: 'thaisans_neuebold','Thonburi','Tahoma';
    font-size:32px;
  }
  .item{
    max-width: 300px;
    padding:10px;
    display:flex;
    flex-direction: column-reverse;
    align-content: center;
    justify-content: center;
    .circle-picture{
      width:100px;
      margin:auto;
    }
  }
}
