
<div class="front container anim-fade" id="aboutus">
  <div class="big-picture">
    <slick infinite=true slides-to-scroll=1 slides-to-show=1 dots="true">

      <div class="image" ng-repeat="image in ctrl.slider track by $index" style="background:url({{image}}) center center;background-size:cover">
<!-- <div class="textOverImg">รุ่งเรืองศิลาทิพย์</div> -->
      </div>

    </slick>
  </div>
  <div class="intro ">
    <div class="timeline-container">

      <!-- <div class="circle-picture" style="background:url('assets/images/aboutus/intro-left.jpg') center center;background-size:cover;">
        <div class="year">
          1957
        </div>
      </div> -->
      <div class="circle-picture" style="background:url('assets/images/aboutus/founder.jpg') center center;background-size:cover;">
          <!-- <i class="fi-comment-quotes">
          Founder</i> -->

      </div>
    </div>
    <div class="">
      <div class="topic">
        About Us
      </div>
      <p class="">

        {{$content.intro[$lang]}}
      </p>
      <p>
        {{$content.intro2[$lang]}}
      </p>
      <div class="topic">
        Founder
      </div>
      <p ng-bind-html="$content.founder[$lang]">

     
      </p>
    </div>
    <div class="right-column">

      <div class="mortar-icon fade-from-button" fade-on-scroll style="background:url('assets/images/aboutus/mortar.svg');background-size:cover;" )>

      </div>
      <div class="wiseword">

        <p ng-bind-html="$content.wiseword[$lang]"></p>
      </div>

    </div>
  </div>
  <!--<hr>-->
  <div class="service-wrap" style="background:url('assets/images/aboutus/bg-granite.jpg');">
    <div class="service-column">
        <div class="item fade-from-right" fade-on-scroll>
            <div class="wrap-text">
                <div class="title">
                    {{$content.serviceHead1[$lang]}}
                </div>
                <div class="desc-text">
                    {{$content.serviceDesc1[$lang]}}
                </div>
            </div>

            <div class="circle-picture">
                <img src="assets/images/service/icon1.svg" alt="" />
            </div>
        </div>
        <div class="item fade-from-left" fade-on-scroll>
            <div class="wrap-text">
                <div class="title">
                    {{$content.serviceHead2[$lang]}}
                </div>
                <div class="desc-text">
                    {{$content.serviceDesc2[$lang]}}
                </div>
            </div>
            <div class="circle-picture">
                <img src="assets/images/service/icon2.svg" alt="" />
            </div>

        </div>

        <div class="item fade-from-right" fade-on-scroll>
            <div class="wrap-text">
                <div class="title">
                    {{$content.serviceHead3[$lang]}}
                </div>
                <div class="desc-text">
                    {{$content.serviceDesc3[$lang]}} </div>
            </div>
            <div class="circle-picture">
                <img src="assets/images/service/icon3.svg" alt="" />
            </div>

        </div>
    </div>
  </div>
  <div class="product" >
    <div class="item" ng-repeat="item in ctrl.images">
      <a href="{{item.link}}" target="">
        <div class="image" style="background:url({{item.url}}) center center;background-size:cover;">
          <!-- <img alt="" ng-src="{{item.url}}"/> -->
          <div class="description">
            {{item.title}}
          </div>
        </div>
      </a>
    </div>


  </div>
