<div class="front container anim-fade" id="contact">

  <div class="grid-map-container">
    <div class="big-map" id="map"></div>
    <div class="showroom-container">
      <div class="item"><img src="assets/images/contactus/showroom_1.jpg" alt="" /></div>
      <div class="item"><img src="assets/images/contactus/showroom_2.jpg" alt="" /></div>
      <div class="item"><img src="assets/images/contactus/showroom_3.jpg" alt="" /></div>
      <div class="item"><img src="assets/images/contactus/showroom_4.jpg" alt="" /></div>
      <div class="item"><img src="assets/images/contactus/showroom_5.jpg" alt="" /></div>
    </div>
    <!-- <div class="item" style="background:url('../assets/images/contactus/contact-image-1.jpg') center center no-repeat;background-size:cover">
    </div> -->
  </div>


  <!-- <div class="contact-title">
    Get in touch
  </div>
  <hr class=""></hr>

  <form class="contact-form container">
    <div class="row">
      <div class="large-4 columns">

        <label>Name
          <input placeholder="" type="text"/>
        </label>
        <label>E-mail Address
          <input placeholder="" type="text"/>
        </label>

      </div>
      <div class="large-8 columns">
        <label>Message
          <textarea class="text-area" placeholder=""></textarea>
        </label>
        <div class="send">
          <a class="button success round" href="#">Send</a>
        </div>
      </div>

    </div>
  </form>

  <div class="contact-title">
    Contact us
  </div>
  <hr class=""></hr>
  <div class="addr-grid container">
    <div class="row">

      <div class="large-4 columns">
        <div class="slot">
          <div class="circle">
            <i class="fi-marker"></i>
          </div>
          <div class="desc-text">
            9/76 M.3 T.samed A.muang Chonburi 20000
          </div>
        </div>
      </div>

      <div class="large-4 columns">
        <div class="slot">
          <div class="circle">
            <i class="fi-telephone"></i>
          </div>
          <div class="desc-text">
            038-398114 / 081-6450482
          </div>
        </div>
      </div>

      <div class="large-4 columns">
        <div class="slot">
          <div class="circle">
            <i class="fi-mail"></i>
          </div>
          <div class="desc-text">
            Silathip2013@gmail.com
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="large-4 columns">
        <div class="slot">
          <div class="circle">
            <i class="fi-social-facebook"></i>
          </div>
          <div class="desc-text">
            facebook.com/r.silathip
          </div>
        </div>
      </div>

      <div class="large-4 columns">
        <div class="slot">
          <div class="circle">
            <i class="fi-address-book"></i>
          </div>
          <div class="desc-text">
            goo.gl/OZRt7X
          </div>
        </div>
      </div>

      <div class="large-4 columns">
        <div class="slot">
          <div class="circle">
            <i class="fi-mail"></i>
          </div>
          <div class="desc-text">
            Silathip2013@gmail.com
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="go_to_top">
    <div class="circle">
      <i class="fa fa-angle-up"></i>
    </div>

  </div>
  <hr class="fancy-line"></hr> -->
