@import '../_constant.scss';

#contact {
  // contact style begin here
  font-family: 'THSarabunNew',serif;
  .showroom-container{
    display: flex;
    @media screen and (max-width:500px){
      flex-wrap: wrap;
    }
    .item{
      width:25%;
      height: auto !important;
      @media screen and (max-width:500px){
        width:50%;
      }
      img{
        width: 100%;
      }
    }

  }
  .grid-map-container{
    display: flex;
    flex-wrap: wrap;
    .big-map{
      position: relative;
       pointer-events: none;
      width: 100%;
      height:100vh;
      min-height:800px;
      .center-detail{
        font-family: 'THSarabunNew',serif;
        .title{
          font-weight: bold;
          font-size:24px;
        }
        p{
          font-size: 14px;
        }

      }
    }
    .item{
      width:33.33333333333%;
        height:300px;
    }
  }



  .menu {
    font-size: 50px;
  }
  .big_map {
    position: relative;
    width: auto;
    //margin-left: -120px;
    pointer-events: none;
  }
  .contact-title {
    margin-top: 25px;
        font-family: 'cardo',serif;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    color: $gold;
  }
  .slogan {
    width: 100%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    color: black;
    text-align: center;
    .main-text {
      font-family: "Sukhumvit Set","ThonBuri",serif;
      font-weight: bolder;
      font-size: 90px;
    }
    .desc-text {
      font-size: 18px;
    }
  }
  ._row {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
  }
  .contact-form {
    position: relative;
    padding-top: 30px;
    //margin-left: -100px;
    .text-area {
      height: 200px;
    }
    .send {
      text-align: right;
    }
  }
  .addr-grid {
    padding: 10px;
    position: relative;
    height: 500px;
    margin-top: 20px;
    //  margin-left: -150px;
    .row {
      padding: 10px;
    }
    .slot {
      padding: 20px;
      border-width: 0;
      border-style: solid;
      //   border-radius: 10px;
      font-size: 50px;
      color: lighten(grey,20);
      text-align: center;
      height: 200px;
      .desc-text {
        color: lighten(grey,30);
        font-size: 18px;
      }
      .circle {
        color: white;
        padding: 5px;
        margin-left: 35%;
        margin-bottom: 20px;
        background-color: lighten($gold,10);
        border-radius: 50%;
        width: 80px;
        height: 80px;
        /* width and height can be anything, as long as they're equal */
      }
      .circle:hover {
        color: darken($gold, 20);
        padding: 5px;
        margin-left: 35%;
        margin-bottom: 20px;
        background-color: lighten($gold,30);
        border-radius: 50%;
        width: 80px;
        height: 80px;
        /* width and height can be anything, as long as they're equal */
      }
    }
  }
  .go_to_top {
    z-index: 1;
    position: fixed;
    right: 100px;
    bottom: 100px;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    .circle {
      color: white;
      padding: 10px;
      background-color: lighten(grey,20);
      border-radius: 50%;
      width: 80px;
      height: 80px;
      box-shadow: 5px 5px 10px #888888;
      /* width and height can be anything, as long as they're equal */
    }
    .circle:hover {
      color: white;
      padding: 10px;
      background-color: lighten(grey,30);
      border-radius: 50%;
      width: 80px;
      height: 80px;
      box-shadow: 5px 5px 10px #888888;
      /* width and height can be anything, as long as they're equal */
    }
  }
  .middle-line {
    position: relative;
    border-width: 3px;
    width: auto;
  }
  .footer {
    display: block;
    background-color: $gold;
    height: 200px;
  }
  hr.fancy-line {
    border: 0;
    height: 1px;
    position: relative;
    margin: 0.5em 0;
    /* Keep other elements away from pseudo elements*/
  }
  hr.fancy-line:before {
    top: -0.5em;
    height: 1em;
  }
  hr.fancy-line:after {
    content: '';
    height: 0.5em;
    /* half the height of :before */
    top: 1px;
    /* height of hr*/
  }
  hr.fancy-line:before,
  hr.fancy-line:after {
    content: '';
    position: absolute;
    width: 100%;
  }
  hr.fancy-line,
  hr.fancy-line:before {
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 75%);
    background: -webkit-gradient(radial, center center, 0px, center center, 75%, color-stop(0%,rgba(0,0,0,0.1)), color-stop(75%,rgba(0,0,0,0)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
  }
  body,
  hr.fancy-line:after {
    background: #f4f4f4;
  }
}
#map {
  width: 100%;
  height: 300px;
}
