$green : #423d3d;
$gold:#aaa080;
$lightgreen:#d6d7d8;
$textColor:#434445;
$lightgrey:#d6d7d8;
$darkgreen: #91b868;

//FontFace declare here
@font-face {
  font-family: 'FontAwesome';
  src: url('../assets/fonts/fontawesome-webfont.eot?v=4.5.0');
  src: url('../assets/fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'pt_sans_narrowregular';
    src: url('../assets/fonts/ptsans/ptsansnarrow_regular_macroman/PTN57F-webfont.eot');
    src: url('../assets/fonts/ptsans/ptsansnarrow_regular_macroman/PTN57F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/ptsans/ptsansnarrow_regular_macroman/PTN57F-webfont.woff') format('woff'),
         url('../assets/fonts/ptsans/ptsansnarrow_regular_macroman/PTN57F-webfont.ttf') format('truetype'),
         url('../assets/fonts/ptsans/ptsansnarrow_regular_macroman/PTN57F-webfont.svg#pt_sans_narrowregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pt_sansregular';
    src: url('../assets/fonts/ptsans/ptsans_regular_macroman/PTS55F-webfont.eot');
    src: url('../assets/fonts/ptsans/ptsans_regular_macroman/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/ptsans/ptsans_regular_macroman/PTS55F-webfont.woff') format('woff'),
         url('../assets/fonts/ptsans/ptsans_regular_macroman/PTS55F-webfont.ttf') format('truetype'),
         url('../assets/fonts/ptsans/ptsans_regular_macroman/PTS55F-webfont.svg#pt_sans_narrowregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'clear_sansregular';
    src: url('../assets/fonts/clearsans/clearsans_regular_macroman/ClearSans-Regular-webfont.eot');
    src: url('../assets/fonts/clearsans/clearsans_regular_macroman/ClearSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/clearsans/clearsans_regular_macroman/ClearSans-Regular-webfont.woff') format('woff'),
         url('../assets/fonts/clearsans/clearsans_regular_macroman/ClearSans-Regular-webfont.ttf') format('truetype'),
         url('../assets/fonts/clearsans/clearsans_regular_macroman/ClearSans-Regular-webfont.svg#clear_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'THSarabunNew';
    src: url('../assets/fonts/sarabun/thsarabunnew-webfont.eot');
    src: url('../assets/fonts/sarabun/thsarabunnew-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/sarabun/thsarabunnew-webfont.woff') format('woff'),
         url('../assets/fonts/sarabun/thsarabunnew-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'THSarabunNew';
    src: url('../assets/fonts/sarabun/thsarabunnew_bolditalic-webfont.eot');
    src: url('../assets/fonts/sarabun/thsarabunnew_bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/sarabun/thsarabunnew_bolditalic-webfont.woff') format('woff'),
         url('../assets/fonts/sarabun/thsarabunnew_bolditalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'THSarabunNew';
    src: url('../assets/fonts/sarabun/thsarabunnew_italic-webfont.eot');
    src: url('../assets/fonts/sarabun/thsarabunnew_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/sarabun/thsarabunnew_italic-webfont.woff') format('woff'),
         url('../assets/fonts/sarabun/thsarabunnew_italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'THSarabunNew';
    src: url('../assets/fonts/sarabun/thsarabunnew_bold-webfont.eot');
    src: url('../assets/fonts/sarabun/thsarabunnew_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/sarabun/thsarabunnew_bold-webfont.woff') format('woff'),
         url('../assets/fonts/sarabun/thsarabunnew_bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'thaisans_neuesemi_bold';
    src: url('../assets/fonts/thaisans/thaisansneue-semibold-webfont.eot');
    src: url('../assets/fonts/thaisans/thaisansneue-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/thaisans/thaisansneue-semibold-webfont.woff2') format('woff2'),
         url('../assets/fonts/thaisans/thaisansneue-semibold-webfont.woff') format('woff'),
         url('../assets/fonts/thaisans/thaisansneue-semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'thaisans_neueultra_bold';
    src: url('../assets/fonts/thaisans/thaisansneue-ultrabold-webfont.eot');
    src: url('../assets/fonts/thaisans/thaisansneue-ultrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/thaisans/thaisansneue-ultrabold-webfont.woff2') format('woff2'),
         url('../assets/fonts/thaisans/thaisansneue-ultrabold-webfont.woff') format('woff'),
         url('../assets/fonts/thaisans/thaisansneue-ultrabold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'thaisans_neuebold_italic';
    src: url('../assets/fonts/thaisans/thaisansneue-bolditalic-webfont.eot');
    src: url('../assets/fonts/thaisans/thaisansneue-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/thaisans/thaisansneue-bolditalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/thaisans/thaisansneue-bolditalic-webfont.woff') format('woff'),
         url('../assets/fonts/thaisans/thaisansneue-bolditalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'thaisans_neuebold';
    src: url('../assets/fonts/thaisans/thaisansneue-bold-webfont.eot');
    src: url('../assets/fonts/thaisans/thaisansneue-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/thaisans/thaisansneue-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/thaisans/thaisansneue-bold-webfont.woff') format('woff'),
         url('../assets/fonts/thaisans/thaisansneue-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'thaisans_neueultraLtIt';
    src: url('../assets/fonts/thaisans/thaisansneue-ultralightital-webfont.eot');
    src: url('../assets/fonts/thaisans/thaisansneue-ultralightital-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/thaisans/thaisansneue-ultralightital-webfont.woff2') format('woff2'),
         url('../assets/fonts/thaisans/thaisansneue-ultralightital-webfont.woff') format('woff'),
         url('../assets/fonts/thaisans/thaisansneue-ultralightital-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'thaisans_neueultra_light';
    src: url('../assets/fonts/thaisans/thaisansneue-ultralight-webfont.eot');
    src: url('../assets/fonts/thaisans/thaisansneue-ultralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/thaisans/thaisansneue-ultralight-webfont.woff2') format('woff2'),
         url('../assets/fonts/thaisans/thaisansneue-ultralight-webfont.woff') format('woff'),
         url('../assets/fonts/thaisans/thaisansneue-ultralight-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'thaisans_neueitalic';
    src: url('../assets/fonts/thaisans/thaisansneue-italic-webfont.eot');
    src: url('../assets/fonts/thaisans/thaisansneue-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/thaisans/thaisansneue-italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/thaisans/thaisansneue-italic-webfont.woff') format('woff'),
         url('../assets/fonts/thaisans/thaisansneue-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'thaisans_neuelight';
    src: url('../assets/fonts/thaisans/thaisansneue-light-webfont.eot');
    src: url('../assets/fonts/thaisans/thaisansneue-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/thaisans/thaisansneue-light-webfont.woff2') format('woff2'),
         url('../assets/fonts/thaisans/thaisansneue-light-webfont.woff') format('woff'),
         url('../assets/fonts/thaisans/thaisansneue-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'thaisans_neueregular';
    src: url('../assets/fonts/thaisans/thaisansneue-regular-webfont.eot');
    src: url('../assets/fonts/thaisans/thaisansneue-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/thaisans/thaisansneue-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/thaisans/thaisansneue-regular-webfont.woff') format('woff'),
         url('../assets/fonts/thaisans/thaisansneue-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
