/**
 *  If you want to override some foundation settings, you have to change values here.
 *  The list of settings values are listed here bower_components/foundation/scss/foundation/_settings.scss
 */
$topbar-bg-color: #5AADBB;

/**
 *  The import of foundation is made manually because there is still no links of the
 *  sass version in their bower.json...
 */
@import '../../bower_components/foundation/scss/foundation';

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower





body{
  font-family: 'Lato','THSarabunNew','Thonburi','Tahoma',sans-serif;
  #products,#service{
    padding-top:0px;
    @media screen and (max-width: 800px){
      padding-top:0px;
    }
  }
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
#nprogress .bar{
  background: black;
}
#nprogress .peg{
  box-shadow: none;
}
  .main{
    //position: absolute;
    min-height: 100vh;
    display: flex;
    width:100%;
    box-sizing: border-box;
    &.ng-animate{

    }
  }


.container{
  width: 100%;
  left:0;

  .wrap{
    padding:20px;
    max-width: 1024px;
    margin:auto;
  }
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
