<div id="product">
  <div class="image-gallery">

    <div class="image-item" ng-repeat="item in ctrl.images">
      <div class="image-wrap">

        <a ng-click="ctrl.toogleGallery($index)" target="">
          <div class="image" style="background:url({{item.url}}) center center;background-size:cover;">
            <!-- <img alt="" ng-src="{{item.url}}"/> -->
            <div class="description">

              <p>
                <b>{{item['title_'+$lang]}}</b><br>
                <small>{{item['desc_'+$lang]}}</small>
              </p>
            </div>
          </div>
        </a>
      </div>
      
    </div>
  </div>
  <div ng-if="!end" class="loadmore-button" ng-click="ctrl.getMore()">
    {{(loading) ? 'Loading...' : "Load more"}} 
  </div>
  <div ng-if="end" class="loadmore-button" >
    No more images..
  </div>
</div>
<div class="full-screen-gallery" ng-show="ctrl.showGallery">
  <div class="close-btn" ng-click="ctrl.showGallery = false">
    <i class="fi-x" style="color:white;opacity:0.75;"></i>
  </div>
  <div ng-if="!loading" class="gallery-wrap">
    <div id="gallery-full-screen">
      <div class="item-wrap" on-finish-render="ngRepeatFinished" ng-repeat="image in ctrl.images track by $index" style="">
        <div class="image-container" style="background:url({{image.url}}) center center / cover;">
          <img ng-src="{{image.url}}">
          <div class="desc">
            <h2>{{image['title_'+$lang]}}</h2>
            <p ng-bind-html="image['desc_'+$lang]">

            </p>
          </div>
        </div>
  <!-- <div class="textOverImg">รุ่งเรืองศิลาทิพย์</div> -->
      </div>
    </div>
  </div>

</div>
<!--
  <div id="service">


    <div class="orderMore-box container">
      <div class="item fade-from-right" fade-on-scroll>
        <div class="wrap-text">
          <i class="fi-telephone"></i>
          <div class="desc-text">
            {{$content.end[$lang]}}
          </div>
        </div>

      </div>

    </div>





  </div> -->
