.product-service-wrap{
  display: flex;
  flex-direction: column;
  width: 100%;

}
.loadmore-button{
  cursor: pointer;
  color:grey;
  margin:15px auto;
  width:200px;
  padding:10px 20px;
  text-align: center;
  background:darken(white, 3);
  box-shadow: 0px 2px 3px rgba(black,0.2);
}
#products {

  // padding:20px;
  .full-screen-gallery{
    position: fixed;
    height:100%;
    width: 100%;
    top:0;
    left:0;
    z-index: 99999;
    background: rgba(0,0,0,0.7);
     padding:0 50px;
    .close-btn{
      position: absolute;
      top:5px;
      cursor: pointer;
      right:15px;
      i{
        color:white;
        font-size:38px;

      }
    }
    .gallery-wrap{
      .item-wrap{
        display: flex;
        justify-content: center;
        align-items: center;
        height:100vh;
        padding:10px;
        .image-container{
          position: relative;
          border:5px white solid;
          border-radius:5px;
          flex:0 0 auto;
          height:100%;
          max-width:800px;
          padding:10px;
          flex-direction: column;
          display:flex;
          justify-content: center;
          @media screen and (max-width:1024px){
            max-width: 100%;
          }
          img{
              padding:10px;
              background:white;
              border-radius:5px;
              // position: absolute;
              height: 100vh;
              opacity: 0;
              // top:50%;
              // left:50%;
              // transform: translate(-50%,-50%);
          }
        }
        .desc{
          font-family: 'Lato','THSarabunNew','Thonburi','Tahoma',sans-serif;
          position: absolute;
          // text-shadow: 0px 1px 0px black;
          bottom: 0;
          left:0;
          // width:800px;
          // text-align: center;
          background:white;
          text-align: center;
          width:100%;
          padding:2px 10px;
          // background:rgba(white);
          h2{
            font-size:24px;
            font-family: 'Lato','THSarabunNew','Thonburi','Tahoma',sans-serif;
            color: #222;
            margin:5px 0;
          }
          p{
            font-size:12px;
            margin:2px 0px;
          }
        }
      }
    }
  }
  .image-gallery {
    padding-top:90px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    justify-content: flex-start;
    align-items: stretch;
    //max-width: 1280px;

    .image-item {
      width: 33.33333%;
      position: relative;
      // padding:15px;
      &:before {
       content: "";
       display: block;
       padding-top: 100%;
     }
      @media screen and (max-width:768px) {
        width: 50%;
      }
      .image {
        background: black;
        position: absolute;top:0;left:0;
        width: 100%;
        height:100%;
        cursor:zoom-in;
        overflow: hidden;
        .description{
          opacity: 0;
          padding:20px;
          position: absolute;top:0;left:0;
          width: 100%;
          height:100%;
          display: flex;justify-content: center;
          align-items: center;
          color:white;
          transition: 0.22s;
          background: rgba(0,0,0,0.3);
        }
        &:hover{
          .description{
            opacity: 1;
          }
        }
      }
      img {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }
  }
}
