<div class="product-service-wrap" style="background-size:cover;background-attachment: fixed;">
<!-- background:url('assets/images/aboutus/bg-granite.jpg'); deprecated -->
    <div id="service" ng-if="false">

        <div class="full_img" style="">
            <div class="service-box">
                <h1>SERVICES WE OFFER</h1>
                <!-- <div class="desc-text">
        ด้วยประสบการณ์ในการให้บริการกว่า 20 ปีทำให้เราเป็นที่หนึ่งของการให้บริการงานแกะสลักหิน มีผลงานต่างๆมากมายในประเทศไทย
      </div> -->
                <!-- service template begin here -->
                <div class="service-column">
                    <div class="item fade-from-right" fade-on-scroll>
                        <div class="wrap-text">
                            <div class="title">
                                {{$content.serviceHead1[$lang]}}
                            </div>
                            <hr class="fancy-line"></hr>
                            <div class="desc-text">
                                {{$content.serviceDesc1[$lang]}}
                            </div>
                        </div>

                        <div class="circle-picture">
                            <img src="assets/images/service/icon1.svg" alt="" />
                        </div>
                    </div>
                    <div class="item fade-from-left" fade-on-scroll>
                        <div class="wrap-text">
                            <div class="title">
                                {{$content.serviceHead2[$lang]}}
                            </div>
                            <hr class="fancy-line"></hr>
                            <div class="desc-text">
                                {{$content.serviceDesc2[$lang]}}
                            </div>
                        </div>
                        <div class="circle-picture">
                            <img src="assets/images/service/icon2.svg" alt="" />
                        </div>

                    </div>

                    <div class="item fade-from-right" fade-on-scroll>
                        <div class="wrap-text">
                            <div class="title">
                                {{$content.serviceHead3[$lang]}}
                            </div>
                            <hr class="fancy-line"></hr>
                            <div class="desc-text">
                                {{$content.serviceDesc3[$lang]}} </div>
                        </div>
                        <div class="circle-picture">
                            <img src="assets/images/service/icon3.svg" alt="" />
                        </div>

                    </div>
                </div>
                <!--  service template end here -->
                <!-- <div class="showoff-img">
        <div class="pic" style="background:url('assets/images/service/show1.jpg') center center;background-size:cover;"></div>
        <div class="pic" style="background:url('assets/images/service/show2.jpg') center center;background-size:cover;"></div>
      </div> -->
            </div>
        </div>

    </div>
    <div class="front container anim-fade" id="products">
        <div ui-view>

        </div>

    </div>
</div>
