#service {
    // service style begin here
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    .full_img {
        .service-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            // padding-top: 75px;
            h1 {
                font-family: 'thaisans_neueultra_light','THSarabunNew',serif;
                text-align: center;
                font-weight: bold;
                color: darken(grey, 10);
                font-size:32px;
                @media screen and (max-width: 1280px) {
                    font-size: 30px;
                }
            }
            .desc-text {
                color: black;
                font-weight: normal;
                font-size: 12px;
            }
            .service-column {
                    max-width: 800px;
                    //background-color: tomato;
                    .item {
                        //  background-color: tomato;
                        vertical-align: middle;
                        text-align: left;
                        max-width: 800px;
                        width: 100%;
                        padding: 35px;
                        color: white;
                        font-size: 20px;
                        display: flex;
                        flex-direction: row;
                        transition: 1.5s;
                        opacity: 0;
                        @media screen and (max-width:730px) {
                            flex-direction: column;
                                
                        }
                        &.fade-from-button {
                            transform: translate(0,150px);
                        }
                        &.fade-from-left {
                            transform: translate(-100%,0);
                        }
                        &.fade-from-right {
                            transform: translate(100%,0);
                        }
                        &.animate-in {
                            opacity: 1;
                            transform: translate(0,0);
                        }
                        .wrap-text {
                            .title {
                                font-family: "Lato", "THSarabunNew","ThonBuri",serif;
                                color: grey;
                                font-size: 30px;
                                font-weight: bolder;
                            }
                            .desc-text {
                                color: grey;
                                font-size: 18px;
                                font-weight: 300;
                            }
                        }
                        .circle-picture {
                            flex: 0 0 100px;
                            width: 100px;
                            border-radius: 0;
                            transition: 0.5s;
                            overflow: hidden;
                            img {
                                width: 100%;
                            }
                            @media screen and (max-width:730px) {
                                border-radius: 0;
                            }
                        }
                    }

                // end container
            }
            // end service-column
        }
    }
    //bottom-text--start here
}
