<div class="front container anim-fade" id="service">
  <!-- service template begin here -->

  <div class="container">
    <div class="title">
      Our services
    </div>

    <div class="big-picture">
      <div class="image" style="background:url('assets/images/service/s1.jpg');background-size:cover"></div>
      <div class="slogan right">
        <div class="main-text">
          <ul class="no-bullet">
            <li>ครกหินอ่างศิลา</li>
            <li>โม่หิน</li>
          </ul>
        </div>

        <p class="desc-text">
          ครก และโม่ จากหินแกรนิต ซึ่งสามารถใช้งานได้จริงโดยหินแกรนิตที่ เราใช้ทำนั้นเป็นหินแกรนิตคุณภาพดี เนื้อแข็ง ใช้งานแล้วไม่มีเนื้อหินหรือเศษทรายหลุดออกมาเมื่อใช้งาน
        </p>
      </div>
    </div>
    <div class="big-picture">
      <div class="image" style="background:url('assets/images/service/s2.jpg');background-size:cover"></div>
      <div class="slogan left">
        <div class="main-text">
          <ul class="no-bullet">
            <li>ประติมากรรม</li>
            <li>หินตกแต่ง</li>
            <li>งานแกะสลัก</li>
          </ul>
        </div>
        <p class="desc-text">
          ประติมากรรมและหินตกแต่งสวน รวมทั้ง งานแกะสลักจากหินทรายและแกรนิต ตามลูกค้าสั่ง โดยทางเรามีช่างฝีมือดี มีประสบการณ์และความชำนาญในการแกะสลักหินเป็นรูปร่างต่างๆ เช่น พระพุทธรูป สิงโต ช้างหิน และสัตว์ต่างๆ เป็นต้น *หินแกรนิต ต่างจากหินทรายคือ หินแกรนิต มีความแข็งแรงคงทน ทนแดดทนฝน เหมาะแก่การตั้งกลางแจ้ง และตัวเนื้อหินจะมีความแข็งมากกว่า และสีของหินจะมีหลายเม็ดสี แต่โดยรวมแล้วจะมองออกเป็นสีเทาจุดขาว ส่วนตัวหินทราย จะมีเนื้อหินเป็นทราย สีหินจะมีหลายสี ทั้งเขียว หรือครีม เนื้อหินอ่อนกว่า และเนื้อหินจะสึกกร่อนง่ายกว่า เมื่อโดนน้ำโดนฝน ก็จะขึ้นขี้ตะไคร่ในบนตัวหิน


        </p>
      </div>
    </div>
    <div class="big-picture">
      <div class="image" style="background:url('assets/images/service/s3.jpg');background-size:cover"></div>
      <div class="slogan center">
        <div class="main-text">
          <ul class="no-bullet">
            <li>หินปูพื้น</li>
          </ul>
        </div>
        <p class="desc-text">
          หินปูพื้น ปูบนเคาเตอร์และหินโรยพื้นตกแต่ง ทางเราจะมีหินหลายประเภท แต่ส่วนใหญ่จะเป็นหินแกรนิตไทย เพราะเนื้อหินคงทนมากกว่า โดยทางเราสามารถตัดหินตามขนาดที่ลูกค้าต้องการได้
        </p>
      </div>
    </div>

  </div>


  <!--  service template end here -->
</div>
