<div class="front container anim-fade" ng-if="false" id="service">
  <div class="header">
    SERVICES WE OFFER
    <div class="desc-text">
      ด้วยประสบการณ์ในการให้บริการกว่า 20 ปีทำให้เราเป็นที่หนึ่งของการให้บริการงานแกะสลักหิน มีผลงานต่างๆมากมายในประเทศไทย
    </div>
    <div class="showoff">
      <div class="pic" style="background:url('assets/images/service/show1.jpg') center center;background-size:cover;"></div>
      <div class="pic" style="background:url('assets/images/service/show2.jpg') center center;background-size:cover;"></div>
    </div>
  </div>

  <!-- service template begin here -->
  <div class="service-column container">
    <div class="item fade-from-right" fade-on-scroll>
      <div class="wrap-text">
        <div class="title">
          บริการงานแกะสลักหิน
        </div>
        <hr class="fancy-line"></hr>
        <div class="desc-text">
          รับออกแบบ และแกะสลักตามแบบโดยทีมช่างผู้เชี่ยวชาญด้วยประสบการณ์กว่า 20 ปี ไม่ว่าจะเป็นหินแกรนิต หินอ่อน รูปแบบต่างๆ เช่น บ้านเลขที่ ป้ายอัฐิ ป้ายบริษัท ป้ายโรงเรียน ฯลฯ รับประกันคุณภาพ
        </div>
      </div>

      <div class="circle-picture" style="background:url('assets/images/service/service1.jpg') center center;background-size:cover;"></div>
    </div>
    <div class="item fade-from-left" fade-on-scroll>
      <div class="wrap-text">
        <div class="title">
          บริการส่งสินค้า และติดตั้งงานแกะสลัก
        </div>
        <hr class="fancy-line"></hr>
        <div class="desc-text">
          เรามีบริการรถขนส่งสินค้า รถยก เพื่อใช้ในการติดตั้งงานตามสถานที่ต่างๆ ให้คุณหมดห่วงเรื่องการขนส่งสินค้าของคุณ อีกทั้งยังรับประกันการส่งสินค้าและติดตั้งทุกขั้นตอน
        </div>
      </div>
      <div class="circle-picture" style="background:url('assets/images/service/service2.jpg') center center;background-size:cover;"></div>

    </div>
    <div class="item fade-from-button" fade-on-scroll>
      <div class="wrap-text">
        <div class="title">
          บริการผลิตหินปูพื้น
        </div>
        <hr class="fancy-line"></hr>
        <div class="desc-text">
          รับผลิตหินปูพื้น ปูบนเคาเตอร์และหินโรยพื้นตกแต่ง ทางเราจะมีหินหลายประเภท รวมถึงหินแกรนิตไทยที่มีเนื้อหินคงทนมากกว่า โดยทางเราสามารถตัดหินตามขนาดที่ลูกค้าต้องการได้
        </div>
      </div>
      <div class="circle-picture" style="background:url('assets/images/service/service3.jpg') center center;background-size:cover;"></div>

    </div>

  </div>

  <!--  service template end here -->
</div>
